<h1>Task List</h1>

<%= link_to  "Create Task", new_task_path %>

<table>
  <thead>
    <tr>
      <td>id</td>
      <td><%= t("common.title") %></td>
      <td><%= t("common.content") %></td>
      <td>Process</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task|%>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
       <td>
         <%= link_to t("common.edit"),  edit_task_path(task) %>
         <%= link_to  t("common.destroy"),  task_path(task), method: "delete", data: { confirm: t("common.messages.destroy") } %>
       </td>
    </tr>
    <% end %>
  </tbody>
</table>
