<!DOCTYPE html>
<html>
  <head>
    <title>Alottasks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div>
        <div>
          <div>
            <%= notice %>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
